In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

In [64]:
bus=pd.read_csv("C:\\Users\\minir\\OneDrive\\바탕 화면\\중간프로젝트\\6_데이터.zip_221117\\교통\\서울버스정류장수(주소기반산업지원서비스 공공데이터).csv",encoding="euc-kr")
metro=pd.read_csv("C:\\Users\\minir\\OneDrive\\바탕 화면\\중간프로젝트\\6_데이터.zip_221117\\교통\\서울교통공사_자치구별지하철역정보_20220629.csv")
pop=pd.read_csv("C:\\Users\\minir\\OneDrive\\바탕 화면\\중간프로젝트\\6_데이터.zip_221117\\꿩\\인구수_20221118153622.csv")

In [65]:
first=pd.read_csv("C:\\Users\\minir\\OneDrive\\바탕 화면\\중간프로젝트\\6_데이터.zip_221117\\1차정리.csv")

In [66]:
first

       구   삶의만족도   지역만족도  병원 수  상권 수  문화시설 수  학교 수
0    종로구  6.6126  6.7244   458    16     284    14
1     중구  6.7132  6.6386   551    56      79    11
2    용산구  6.2892  6.4585   318    23      79    10
3    성동구  6.7216  6.7262   465    18      17     9
4    광진구  6.3799  6.4772   556    25      23     9
5   동대문구  6.5255  6.4242   583    26      28    11
6    중랑구  6.4817  6.4120   537    13       9    10
7    성북구  6.3384  6.3445   522    31      30    13
8    강북구  7.0738  7.0725   455    21      22     7
9    도봉구  6.2162  6.3037   361    15      20    10
10   노원구  6.4486  6.5525   736    19      23    25
11   은평구  6.3765  6.4185   681    18      24    18
12  서대문구  6.6400  6.7025   424    17      19     7
13   마포구  6.6349  6.7415   744    27      47     9
14   양천구  6.2545  6.2119   637    20      22    15
15   강서구  6.2711  6.2859   882    22      15    23
16   구로구  6.4994  6.5000   562    26      28    14
17   금천구  6.2938  6.1954   348    20      21     6
18  영등포구  6.3735  6.4896   757    28      21     9
19   동작구  6.4562  6.4825   587    14      20     7
20   관악구  6.4552  6.3800   692    18      17    17
21   서초구  6.6313  6.9129  1295    25      42    11
22   강남구  6.6358  6.9207  2700    45     100    22
23   송파구  6.6759  6.9225  1214    39      38    19
24   강동구  6.3735  6.4254   845    22      20    14

In [67]:
bus=bus.rename(columns={"지역(구)":"구","정거장":"버스정거장"})

In [68]:
bus=bus[["구","버스정거장"]].set_index("구")

In [69]:
fb= pd.merge(first, bus, on="구")

In [70]:
metro = metro[["자치구","역개수"]]

In [71]:
metro.rename(columns={"자치구":"구", "역개수":"지하철역"},inplace=True)

In [72]:
metro.set_index("구")

      지하철역
구
강남구     21
강동구     14
강북구      3
강서구      9
관악구      4
광진구     11
구로구      7
금천구      1
노원구     13
도봉구      3
동대문구     6
동작구     12
마포구     16
서대문구     5
서초구     12
성동구     14
성북구      9
송파구     28
양천구      5
영등포구    11
용산구     10
은평구     13
종로구     15
중구      23
중랑구      8

In [73]:
fbm=pd.merge(fb, metro, on="구")

In [74]:
fbm

       구   삶의만족도   지역만족도  병원 수  상권 수  문화시설 수  학교 수  버스정거장  지하철역
0    종로구  6.6126  6.7244   458    16     284    14    353    15
1     중구  6.7132  6.6386   551    56      79    11    207    23
2    용산구  6.2892  6.4585   318    23      79    10    353    10
3    성동구  6.7216  6.7262   465    18      17     9    410    14
4    광진구  6.3799  6.4772   556    25      23     9    288    11
5   동대문구  6.5255  6.4242   583    26      28    11    316     6
6    중랑구  6.4817  6.4120   537    13       9    10    378     8
7    성북구  6.3384  6.3445   522    31      30    13    568     9
8    강북구  7.0738  7.0725   455    21      22     7    415     3
9    도봉구  6.2162  6.3037   361    15      20    10    382     3
10   노원구  6.4486  6.5525   736    19      23    25    522    13
11   은평구  6.3765  6.4185   681    18      24    18    403    13
12  서대문구  6.6400  6.7025   424    17      19     7    396     5
13   마포구  6.6349  6.7415   744    27      47     9    548    16
14   양천구  6.2545  6.2119   637    20      22    15    356     5
15   강서구  6.2711  6.2859   882    22      15    23    604     9
16   구로구  6.4994  6.5000   562    26      28    14    473     7
17   금천구  6.2938  6.1954   348    20      21     6    339     1
18  영등포구  6.3735  6.4896   757    28      21     9    472    11
19   동작구  6.4562  6.4825   587    14      20     7    436    12
20   관악구  6.4552  6.3800   692    18      17    17    429     4
21   서초구  6.6313  6.9129  1295    25      42    11    614    12
22   강남구  6.6358  6.9207  2700    45     100    22    540    21
23   송파구  6.6759  6.9225  1214    39      38    19    404    28
24   강동구  6.3735  6.4254   845    22      20    14    363    14

In [75]:
pop.head()

  행정구역(시군구)별  총인구수 (명)
0        종로구    141861
1         중구    120648
2        용산구    219102
3        성동구    281694
4        광진구    337900

In [76]:
pop=pop.rename(columns={"행정구역(시군구)별":"구"})

In [77]:
pop=pop.set_index("구")

In [79]:
fbmp=pd.merge(fbm,pop, on ="구")

In [82]:
fbmp.head()

     구   삶의만족도   지역만족도  병원 수  상권 수  문화시설 수  학교 수  버스정거장  지하철역  총인구수 (명)
0  종로구  6.6126  6.7244   458    16     284    14    353    15    141861
1   중구  6.7132  6.6386   551    56      79    11    207    23    120648
2  용산구  6.2892  6.4585   318    23      79    10    353    10    219102
3  성동구  6.7216  6.7262   465    18      17     9    410    14    281694
4  광진구  6.3799  6.4772   556    25      23     9    288    11    337900

In [83]:
fbmp.to_csv("2차정리.csv", index=True, header=True)

In [164]:
second=pd.read_csv("C:\\Users\\acorn\\Desktop\\팀미션-중간\\데이터\\2차정리.csv")
second.head()

,Unnamed: 0,구,삶의만족도,지역만족도,병원 수,상권 수,문화시설 수,학교 수,버스정거장,지하철역,총인구수 (명)
0,0,종로구,6.6126,6.7244,458,16,284,14,353,15,141861
1,1,중구,6.7132,6.6386,551,56,79,11,207,23,120648
2,2,용산구,6.2892,6.4585,318,23,79,10,353,10,219102
3,3,성동구,6.7216,6.7262,465,18,17,9,410,14,281694
4,4,광진구,6.3799,6.4772,556,25,23,9,288,11,337900

In [165]:
del second["Unnamed: 0"]

In [166]:
second.set_index("구")

       삶의만족도   지역만족도  병원 수  상권 수  문화시설 수  학교 수  버스정거장  지하철역  총인구수 (명)
구
종로구   6.6126  6.7244   458    16     284    14    353    15    141861
중구    6.7132  6.6386   551    56      79    11    207    23    120648
용산구   6.2892  6.4585   318    23      79    10    353    10    219102
성동구   6.7216  6.7262   465    18      17     9    410    14    281694
광진구   6.3799  6.4772   556    25      23     9    288    11    337900
동대문구  6.5255  6.4242   583    26      28    11    316     6    337273
중랑구   6.4817  6.4120   537    13       9    10    378     8    385976
성북구   6.3384  6.3445   522    31      30    13    568     9    431581
강북구   7.0738  7.0725   455    21      22     7    415     3    294429
도봉구   6.2162  6.3037   361    15      20    10    382     3    312427
노원구   6.4486  6.5525   736    19      23    25    522    13    505058
은평구   6.3765  6.4185   681    18      24    18    403    13    468988
서대문구  6.6400  6.7025   424    17      19     7    396     5    305113
마포구   6.6349  6.7415   744    27      47     9    548    16    364698
양천구   6.2545  6.2119   637    20      22    15    356     5    441749
강서구   6.2711  6.2859   882    22      15    23    604     9    570011
구로구   6.4994  6.5000   562    26      28    14    473     7    394212
금천구   6.2938  6.1954   348    20      21     6    339     1    230156
영등포구  6.3735  6.4896   757    28      21     9    472    11    375849
동작구   6.4562  6.4825   587    14      20     7    436    12    382747
관악구   6.4552  6.3800   692    18      17    17    429     4    487201
서초구   6.6313  6.9129  1295    25      42    11    614    12    404902
강남구   6.6358  6.9207  2700    45     100    22    540    21    529946
송파구   6.6759  6.9225  1214    39      38    19    404    28    659788
강동구   6.3735  6.4254   845    22      20    14    363    14    460413

In [167]:
land=pd.read_csv("C:\\Users\\acorn\\Desktop\\팀미션-중간\\데이터\\2021년 부동산 거래 종류.csv")
land

    거래연도   지역     용도     수
0   2021  강남구  단독다가구   286
1   2021  강남구    아파트  2404
2   2021  강남구  연립다세대  1497
3   2021  강남구   오피스텔  1736
4   2021  강동구  단독다가구   444
..   ...  ...    ...   ...
95  2021   중구   오피스텔   396
96  2021  중랑구  단독다가구   914
97  2021  중랑구    아파트  1713
98  2021  중랑구  연립다세대  2911
99  2021  중랑구   오피스텔   210

[100 rows x 4 columns]

In [168]:
land=land[["지역","용도","수"]]

In [169]:
# land= land.rename(columns={"지역":"구"})

In [170]:
# land.set_index("구", inplace=True)

In [171]:
a = pd.DataFrame(land["지역"]).drop_duplicates(keep="first", inplace=False)

In [172]:
apart=pd.DataFrame(land[land["용도"]=="아파트"])

In [173]:
apart.rename(columns={"지역":"구", "수":"아파트 수"}, inplace=True)

In [174]:
apart=apart.set_index("구")

In [175]:
# apart = apart[["수"]]
# apart.rename(columns={"수":"아파트 수"}, inplace=True)

In [176]:
apart= apart[["아파트 수"]]

In [177]:
del second["학교 수"]

In [178]:
second.set_index("구", inplace=True)

In [179]:
second

       삶의만족도   지역만족도  병원 수  상권 수  문화시설 수  버스정거장  지하철역  총인구수 (명)
구
종로구   6.6126  6.7244   458    16     284    353    15    141861
중구    6.7132  6.6386   551    56      79    207    23    120648
용산구   6.2892  6.4585   318    23      79    353    10    219102
성동구   6.7216  6.7262   465    18      17    410    14    281694
광진구   6.3799  6.4772   556    25      23    288    11    337900
동대문구  6.5255  6.4242   583    26      28    316     6    337273
중랑구   6.4817  6.4120   537    13       9    378     8    385976
성북구   6.3384  6.3445   522    31      30    568     9    431581
강북구   7.0738  7.0725   455    21      22    415     3    294429
도봉구   6.2162  6.3037   361    15      20    382     3    312427
노원구   6.4486  6.5525   736    19      23    522    13    505058
은평구   6.3765  6.4185   681    18      24    403    13    468988
서대문구  6.6400  6.7025   424    17      19    396     5    305113
마포구   6.6349  6.7415   744    27      47    548    16    364698
양천구   6.2545  6.2119   637    20      22    356     5    441749
강서구   6.2711  6.2859   882    22      15    604     9    570011
구로구   6.4994  6.5000   562    26      28    473     7    394212
금천구   6.2938  6.1954   348    20      21    339     1    230156
영등포구  6.3735  6.4896   757    28      21    472    11    375849
동작구   6.4562  6.4825   587    14      20    436    12    382747
관악구   6.4552  6.3800   692    18      17    429     4    487201
서초구   6.6313  6.9129  1295    25      42    614    12    404902
강남구   6.6358  6.9207  2700    45     100    540    21    529946
송파구   6.6759  6.9225  1214    39      38    404    28    659788
강동구   6.3735  6.4254   845    22      20    363    14    460413

In [180]:
sa = pd.merge(second, apart, on="구")

In [181]:
police=pd.read_csv("C:\\Users\\acorn\\Desktop\\팀미션-중간\\데이터\\경찰\\경찰기관수(파출소).csv", )

In [182]:
police.set_index("구", inplace=True)

In [183]:
police.head()

       파출소 수
구
중구        15
종로구       20
서대문구       8
용산구        7
성북구       10

In [184]:
sap = pd.merge(sa, police, on="구")

In [185]:
sap

       삶의만족도   지역만족도  병원 수  상권 수  문화시설 수  버스정거장  지하철역  총인구수 (명)  아파트 수   파출소 수
구
종로구   6.6126  6.7244   458    16     284    353    15    141861    503      20
중구    6.7132  6.6386   551    56      79    207    23    120648    669      15
용산구   6.2892  6.4585   318    23      79    353    10    219102    969       7
성동구   6.7216  6.7262   465    18      17    410    14    281694   1614       9
광진구   6.3799  6.4772   556    25      23    288    11    337900    808      10
동대문구  6.5255  6.4242   583    26      28    316     6    337273   1838      11
중랑구   6.4817  6.4120   537    13       9    378     8    385976   1713       8
성북구   6.3384  6.3445   522    31      30    568     9    431581   2533      10
강북구   7.0738  7.0725   455    21      22    415     3    294429    999       9
도봉구   6.2162  6.3037   361    15      20    382     3    312427   2064       8
노원구   6.4486  6.5525   736    19      23    522    13    505058   4313       8
은평구   6.3765  6.4185   681    18      24    403    13    468988   1859       9
서대문구  6.6400  6.7025   424    17      19    396     5    305113   1540       8
마포구   6.6349  6.7415   744    27      47    548    16    364698   1696       8
양천구   6.2545  6.2119   637    20      22    356     5    441749   1989       8
강서구   6.2711  6.2859   882    22      15    604     9    570011   3008      10
구로구   6.4994  6.5000   562    26      28    473     7    394212   2757       8
금천구   6.2938  6.1954   348    20      21    339     1    230156   1037       5
영등포구  6.3735  6.4896   757    28      21    472    11    375849   2019      10
동작구   6.4562  6.4825   587    14      20    436    12    382747   1661       7
관악구   6.4552  6.3800   692    18      17    429     4    487201   1553       9
서초구   6.6313  6.9129  1295    25      42    614    12    404902   2372      11
강남구   6.6358  6.9207  2700    45     100    540    21    529946   2404      14
송파구   6.6759  6.9225  1214    39      38    404    28    659788   2294      11
강동구   6.3735  6.4254   845    22      20    363    14    460413   2145       9

In [186]:
park = pd.read_csv("C:\\Users\\acorn\\Desktop\\팀미션-중간\\데이터\\서울시 산과공원 생태관광 정보 (한국어).csv")

In [187]:
park[["행정 구", "대분류"]]

     행정 구   대분류
0     은평구  생태탐방
1    서대문구  산과공원
2    영등포구  산과공원
3     강서구  산과공원
4    영등포구  산과공원
..    ...   ...
140   도봉구  산과공원
141   송파구  산과공원
142   광진구  산과공원
143   강남구  생태탐방
144   NaN  생태탐방

[145 rows x 2 columns]

In [188]:
park=park[["행정 구", "대분류"]]

In [189]:
park.rename(columns={"행정 구":"구"}, inplace=True)

In [190]:
park.set_index("구")

       대분류
구
은평구   생태탐방
서대문구  산과공원
영등포구  산과공원
강서구   산과공원
영등포구  산과공원
...    ...
도봉구   산과공원
송파구   산과공원
광진구   산과공원
강남구   생태탐방
NaN   생태탐방

[145 rows x 1 columns]

In [191]:
park.dropna(inplace=True)

In [192]:
park.set_index("구", inplace=True)

In [193]:
park_dict = dict()
for n in park.index:
    if n in park_dict.keys():
        pass
    else:
        park_dict[n] = 0
        
    park_dict[n] += 1

    
park2 = pd.DataFrame({'구': park_dict.keys(),'공원 수':park_dict.values()})
park2=park2.set_index("구")

In [194]:
p2=park2[:-1]

In [195]:
tf=pd.read_csv("C:\\Users\\acorn\\Desktop\\팀미션-중간\\데이터\\서울시 체육시설.csv")

In [196]:
tf.dropna(inplace=True)

In [197]:
tf = tf[["시군구","종류"]]

In [198]:
tf.rename(columns={"시군구":"구"}, inplace=True)

In [199]:
tf=tf.set_index("구")
tf

         종류
구
양천구   육상경기장
송파구   육상경기장
송파구   육상경기장
종로구     축구장
중 구     축구장
..      ...
송파구  기타체육시설
송파구  기타체육시설
송파구  기타체육시설
강동구  기타체육시설
강동구  기타체육시설

[566 rows x 1 columns]

In [200]:
tf_dict = dict()
for n in tf.index:
    if n in tf_dict.keys():
        pass
    else:
        tf_dict[n] = 0
        
    tf_dict[n] += 1

    
tf2 = pd.DataFrame({'구': tf_dict.keys(),'운동시설 수':tf_dict.values()})
tf2=tf2.set_index("구")

In [201]:
tf2

      운동시설 수
구
양천구       31
송파구       42
종로구       13
중 구        1
용산구       21
성동구       34
광진구       31
중랑구       19
성북구       19
강북구       10
도봉구       12
노원구       25
은평구       11
서대문구      15
마포구       29
강서구       23
구로구       28
금천구       20
영등포구      25
동작구       20
관악구       18
서초구       31
강남구       31
강동구       22
중구        16
동대문구      19

In [202]:
# tf3=tf2.drop_duplicates(keep="first", inplace=False)

In [203]:
tf2.loc["중구"]=17

In [204]:
tf2=tf2.sort_values(by="운동시설 수", ascending=False)

In [205]:
tf2= tf2[:-1]

In [206]:
tf2

      운동시설 수
구
송파구       42
성동구       34
양천구       31
강남구       31
광진구       31
서초구       31
마포구       29
구로구       28
영등포구      25
노원구       25
강서구       23
강동구       22
용산구       21
동작구       20
금천구       20
동대문구      19
성북구       19
중랑구       19
관악구       18
중구        17
서대문구      15
종로구       13
도봉구       12
은평구       11
강북구       10

In [207]:
# pd.merge(sap, tf2, on="구")

In [208]:
tp=pd.merge(tf2, p2, on="구")
tp

      운동시설 수  공원 수
구
송파구       42     9
성동구       34     4
양천구       31     5
강남구       31     5
광진구       31     3
서초구       31     8
마포구       29     5
구로구       28     3
영등포구      25     6
노원구       25     3
강서구       23    10
강동구       22    10
용산구       21     3
동작구       20     7
금천구       20     5
동대문구      19     4
성북구       19     3
중랑구       19     3
관악구       18     2
중구        17     4
서대문구      15     5
종로구       13    13
도봉구       12     6
은평구       11     8
강북구       10     3

In [209]:
tp["체육시설 수"]=tp["운동시설 수"]+tp["공원 수"]

In [210]:
tp=pd.DataFrame(tp["체육시설 수"])

In [220]:
sap2=pd.merge(sap, tp, on="구")

In [215]:
crime=pd.read_csv("C:\\Users\\acorn\\Desktop\\팀미션-중간\\데이터\\범죄.csv")
crime

       구    건수
0     중구  1642
1    종로구  1582
2   서대문구  1211
3    용산구  1359
4    성북구  1714
5   동대문구  1669
6    마포구  1845
7   영등포구  2314
8    성동구  1224
9    동작구  1538
10   광진구  1635
11   은평구  1967
12   강북구  1701
13   금천구  1411
14   중랑구  1830
15   강남구  3877
16   관악구  2493
17   강서구  2504
18   강동구  1929
19   구로구  2094
20   서초구  2058
21   양천구  1732
22   송파구  2702
23   노원구  1977
24   도봉구  1050

In [217]:
crime=crime.set_index("구")

In [219]:
crime=crime.rename(columns={"건수":"범죄건수"})

In [222]:
sap3= pd.merge(sap2, crime, on="구")

In [223]:
sap3.to_csv("3차정리.csv", index=True, header=True)

In [224]:
sap3

,삶의만족도,지역만족도,병원 수,상권 수,문화시설 수,버스정거장,지하철역,총인구수 (명),아파트 수,파출소 수,체육시설 수,범죄건수
구,,,,,,,,,,,,
종로구,6.6126,6.7244,458,16,284,353,15,141861,503,20,26,1582
중구,6.7132,6.6386,551,56,79,207,23,120648,669,15,21,1642
용산구,6.2892,6.4585,318,23,79,353,10,219102,969,7,24,1359
성동구,6.7216,6.7262,465,18,17,410,14,281694,1614,9,38,1224
광진구,6.3799,6.4772,556,25,23,288,11,337900,808,10,34,1635
동대문구,6.5255,6.4242,583,26,28,316,6,337273,1838,11,23,1669
중랑구,6.4817,6.4120,537,13,9,378,8,385976,1713,8,22,1830
성북구,6.3384,6.3445,522,31,30,568,9,431581,2533,10,22,1714
강북구,7.0738,7.0725,455,21,22,415,3,294429,999,9,13,1701
도봉구,6.2162,6.3037,361,15,20,382,3,312427,2064,8,18,1050
노원구,6.4486,6.5525,736,19,23,522,13,505058,4313,8,28,1977
은평구,6.3765,6.4185,681,18,24,403,13,468988,1859,9,19,1967
서대문구,6.6400,6.7025,424,17,19,396,5,305113,1540,8,20,1211
마포구,6.6349,6.7415,744,27,47,548,16,364698,1696,8,34,1845
양천구,6.2545,6.2119,637,20,22,356,5,441749,1989,8,36,1732
강서구,6.2711,6.2859,882,22,15,604,9,570011,3008,10,33,2504
구로구,6.4994,6.5000,562,26,28,473,7,394212,2757,8,31,2094
금천구,6.2938,6.1954,348,20,21,339,1,230156,1037,5,25,1411
영등포구,6.3735,6.4896,757,28,21,472,11,375849,2019,10,31,2314
동작구,6.4562,6.4825,587,14,20,436,12,382747,1661,7,27,1538
관악구,6.4552,6.3800,692,18,17,429,4,487201,1553,9,20,2493
서초구,6.6313,6.9129,1295,25,42,614,12,404902,2372,11,39,2058
강남구,6.6358,6.9207,2700,45,100,540,21,529946,2404,14,36,3877
송파구,6.6759,6.9225,1214,39,38,404,28,659788,2294,11,51,2702
강동구,6.3735,6.4254,845,22,20,363,14,460413,2145,9,32,1929